<div class="title">
    <h1>TALK TO YOU</h1>
    <H3>Elige un idioma, selecciona una sala y ponte a practicar. </H3>
</div>
<div class="general-container">

    <div class="search-call">

        <form [formGroup]="callform" (ngSubmit)="searchRoom()">
            <div class="row">
                <div class="col">
                    <label for="exampleDataList" class="form-label">Selecciona el idioma que quieres practicar.</label>
                    <input list="datalistOptions" id="idiomaDataList" placeholder="Busca un idioma..."
                        formControlName="idioma">
                    <datalist id="datalistOptions">
                        <option *ngFor="let languague of languagues" [value]="languague"></option>
                    </datalist>
                </div>
                <small *ngIf="languagueValidate" class="text-danger">Elija una opcion valida</small>
            </div>
            <div class="row">
                <div class="col2">
                    <label for="DataList" class="form-label">Selecciona el nivel que mejor se adapte a ti.</label>
                    <input list="levelOptions" id="levelDataList" placeholder="Selecciona un nivel..."
                        formControlName="nivel">
                    <datalist id="levelOptions">
                        <option *ngFor="let level of levels" [value]="level"></option>
                    </datalist>
                    <button id="buscar_button" type="submit">BUSCAR</button>
                </div>
                <small *ngIf="levelValidate" class="text-danger">Elija una opcion valida</small>
            </div>
            <div class="Descripciones">
                <ul>
                    <li *ngFor="let description of descriptions" id="descripciones">{{description}}</li>
                </ul>
            </div>
        </form>

    </div>
    <div class="calls-result">

    </div>
</div>